# Ignore environment files in backend
/backend/.env
/backend/.env.local

# Ignore environment files in frontend
/frontend/.env
/frontend/.env.local

#Ignore node modules
/frontend/node_modules
/backend/node_modules

/frontend/.next/
